<div id="sub-page">
  <ul class="sub-wrap">
    <li>
      <div class="title">
        <strong>实验教学项目负责人情况:</strong>
      </div>
      <div class="table">
        <app-table [data]="leaderData"></app-table>
      </div>
      <div class="detail">
        <div class="title">
          <strong>教学研究情况:</strong>
        </div>
        <div class="detail">
          <p>1、	主持的教学研究课题，软著登记及专利授权：</p>
          <p>（1）2012年参与安徽省质量推广项目“提升临床住院医师影像技能规范化培训”（参与）</p>
          <p>（2）2014年参与安徽省省级精品课程建设项目“医学影像学”（参与）</p>
          <p> （3）基于PACS的肺肿瘤影像诊断虚拟仿真实验教学项目安徽省高等学校省级质量工程虚拟
          仿真实验教学项目(2018xfsyxm054)（主持）</p>
          <p>2、发表教学论文及教材编写：</p>
          <p> T_PACS结合CBC教学法在医学影像诊断学教学中的实践.[J]基础医学教育,2019(10):
           833-835.</p>
        </div>
        <div class="title">
          <strong>学术研究情况:</strong>
        </div>
        <div class="detail">
          <p>（近五年来承担的学术研究课题（含课题名称、来源、年限、本人所起作用，不超过5项）；
            在国内外公开发行刊物上发表的学术论文（含题目、刊物名称、署名次序与时间，不超过5项）；
            获得的学术研究表彰/奖励（含奖项名称、授予单位、署名次序、时间，不超过5项））</p>
          <p>1、	学术研究课题</p>
          <p>（1）2017年主持皖南医学院弋矶山医院的三新项目《探讨MRI在胎盘植入的应用及造影剂的
          使用能否增加诊断价值》起止时间：2017 年 1 月-2018年 12 月，主持</p>
          <p>（2）基于高分辨力CT的影像组学模型列线图预测肺癌同步脑转移的应用研究。
          皖南医学院重点培育基金项目项目编号(WK2019ZF05)，起止时间：2019 年 1 月-2020 年 12 月，主持</p>
          <p>2、发表的学术论文：</p>
          <p>（1）胎盘植入MRI诊断中增强扫描的价值[J].临床放射学杂志，2018（6）：989-993.（第一作者）</p>
          <p>（2）MRI弥散张量成像各项异性分数定量评估胶质瘤Ki-67标记指数的价值[J].牡丹江医学院学报，2019（06）：14-17.（第一作者）
          <p>（3）High-Intensity Focused Ultrasound in the Treatment of Abdominal Wall Endometriosis[J]
          J Minim Invasive Gynecol, 2019, DOI:10.1016/j.jmig.2019.06.012（通讯作者）</p>
        </div>


      </div>
    </li>
    <li>
      <div class="title">
        <strong>实验教学项目教学服务团队情况:</strong>
      </div>
      <div class="title">
        1. 实验教学项目教学服务主要成员:
      </div>
      <div class="table">
        <app-table [data]="mainTeamData"></app-table>
      </div>
      <div class="title">
        2. 实验教学项目教学服务其他成员:
      </div>
      <div class="table">
        <app-table [data]="otherTeamData"></app-table>
      </div>
      <div class="detail">
        项目团队总人数：（15人）高校人员数量：（11人）企业人员数量：（4人）
      </div>
      <div class="ps">
        <p>注：1.教学服务团队成员所在单位需如实填写，可与负责人不在同一单位。</p>
        <p>2.教学服务团队须有在线教学服务人员和技术支持人员，请在备注中说明。</p>

      </div>
    </li>
  </ul>
</div>
