<div id="sub-page">
  <ul class="sub-wrap">
    <li>
      <div class="title">
        <strong>实验教学项目持续建设服务计划:</strong>
      </div>
      <div class="detail">
        <p>（本实验教学项目今后5年继续向高校和社会开放服务计划，包括面向高校的教学推广应用计划、持续建设与更新、持续提供教学服务计划等，不超过600字。）
        </p><p>（1）持续建设与更新：</p>
        <p>1.实验内容持续建设与更新：不断更新和完善肺肿瘤影像实验教学病例库，增加线上互动功能设计，满足教师用户和学生用户的实时交流互动需求。
        </p><p>2.实验平台持续建设与更新：不断建设和增强数据平台的稳定性和共享性，并加强网络管理力度，满足更多更广用户的同时访问需求，以便更安全地使用该虚拟仿真项目。
      </p><p>（2）面向高校的教学推广应用计划：</p>
        <p>首先可以针对应用医学影像学专业的本科生进行实验课教学，逐渐推广到本校其他专业的本科生、研究生的临床思维培训中。通过一段时间的实践教学后，与兄弟院校进行思路、成果和经验的资源共享，从而推广教学应用。
        </p><p>（3）面向社会的推广与持续服务计划：</p>
        <p>项目被认定后1年内面向全省高校和社会免费开放并提供教学服务，1年后至3年内免费开放服务内容不少于50%，3年后免费开放服务内容不少于30%。
        </p>
      </div>
    </li>
  </ul>
</div>
