<div id="entry">
  <mat-divider></mat-divider>
  <div class="wrap">
    <div class="case"><strong>{{report.name}}</strong></div>
    <button mat-button style="background-color: wheat"
            [routerLink]="['/main_info', report.name]"
    ><strong>病史及主诉</strong></button>
    <button mat-button style="background-color: white"
            (click)="jump()"
    ><strong>影像资料</strong></button>
    <button mat-button style="background-color: wheat"
            [disabled]="role==='teacher'"
            [routerLink]="['/report', report.name]"
    ><strong>书写报告</strong></button>
    <!--!report.isSubmit && -->
    <button mat-button style="background-color: white"
            [disabled]="role === 'student'"
            [routerLink]="['/key', report.name]"
    ><strong>正确影像描述诊断及病理结果</strong></button>
    <button mat-button style="background-color: wheat"
            [routerLink]="['/correct',report.name]"
            [disabled]="role === 'student'"
    ><strong>老师批改及打分</strong></button>
  </div>
</div>

