<div id="sub-page">
  <ul class="sub-wrap">
    <li>
      <div class="title">
        <strong>网络条件要求:</strong>
      </div>
      <div class="detail">
        <p>（1）说明客户端到服务器的带宽要求（需提供测试带宽服务）</p>
        可连接互联网，能在20秒内打开并下载虚拟课件。网页上可提供当前下载速度测试的链接。
        <p>（2）说明能够提供的并发响应数量（需提供在线排队提示服务）
        100个并发响应数量。可以设置100个（足够课堂教学需求）用户同时登陆系统，
        若系统人数达到上限，登陆则会提示：请稍后登陆本系统。</p>
      </div>
    </li>
    <li>
      <div class="title">
        <strong>用户操作系统要求（如Windows、Unix、IOS、Android等）:</strong>
      </div>
      <div class="detail">
        <p>（1）计算机操作系统和版本要求
          Windows XP\7\8\10主流操作系统，64位
          暂不支持其它操作系统</p>
        <p>（2）其他计算终端操作系统和版本要求</p>
        <p>（3）支持移动端：是 否</p>
      </div>
    </li>
    <li>
      <div class="title">
        <strong>用户非操作系统软件配置要求（如浏览器、特定软件等）:</strong>
      </div>
      <div class="detail">
        <p>（1）需要特定插件  是 否
          （勾选是请填写）插件名称插件容量
          下载链接</p>
        <p>（2）其他计算终端非操作系统软件配置要求
          （需说明是否可提供相关软件下载服务）
          建议使用IE浏览器、Google浏览器、
          火狐浏览器及360浏览器。</p>
      </div>
    </li>
    <li>
      <div class="title">
        <strong>用户硬件配置要求（如主频、内存、显存、存储容量等）:</strong>
      </div>
      <div class="detail">
        <p>（1）计算机硬件配置要求</p>
        <p>电脑配置要求：</p>
        <p> CPU：Intel(R) Core(TM) i5及以上；</p>
        <p>  内存：2G以上；</p>
        <p> 硬盘：100G以上；</p>
        <p> 网卡：100M以上Ethernet网卡。</p>
        <p>（2）其他计算终端硬件配置要求：
        </p>
      </div>
    </li>
  </ul>
</div>
