<div id="sub-page">
  <ul class="sub-wrap">
    <li>
      <div class="title">
        <strong>实验目的:</strong>
      </div>
      <div class="detail">
        借助现代化的教学图像存档与传输系统（picture archiving and communica-tion system,PACS）
        的虚拟仿真实验教学手段，通过基于问题和案例的互动式、研讨式教学方式方法，使学生成为教学活动的
        主体，培养增强学生自主式、合作式、探究式学习能力，使学生掌握中央型肺癌、
        周围型肺癌的X线、CT、MRI的影像学诊断及鉴别诊断。提高影像学实验教学的效果和效率。
      </div>
    </li>
    <li>
      <div class="title">
        <strong>知识点数量:(6个)</strong>
      </div>
      <div class="detail">
        <p>（1）正常肺部的X线、CT表现</p>
        <p>（2）中央型肺癌的X线影像学诊断的直接、间接征象以及鉴别诊断</p>
        <p>（3）中央型肺癌的CT影像学诊断的直接、间接征象以及鉴别诊断</p>
        <p>（4）周围型肺癌的X线影像学诊断及鉴别诊断</p>
        <p>（5）周围型肺癌的CT影像学诊断及鉴别诊断</p>
        <p>（6）肺部肿瘤影像学诊断报告的书写规范</p>
      </div>
    </li>
    <li>
      <div class="title">
        <strong>实验课时:</strong>
      </div>
      <div class="detail">
        <p>实验所属课程所占课时：44课时（理论24+实验20）</p>
        <p>该实验项目所占课时：4课时</p>
      </div>
    </li>
    <li>
      <div class="title">
        <strong>实验仪器设备（装置或软件等）:</strong>
      </div>
      <div class="detail">
        现有的医学影像设备：包括双源FlashCT 1台、64-MSCT 1台，32-MSCT 3台、
        16-MSCT 1台、PET-CT1台、SPECT1台、1.5T MRI 2台、3.0T MRI 1台、全身
        FPD DR 5台、全数字化乳腺平板DR 1台、数字胃肠机1台、CR 2 台、大平板
        3D血管造影机4台、超声诊断仪 20 台等先进设备和全院性影像存档与传输系统（picture archiving and communication system,PACS）
      </div>
    </li>
    <li>
      <div class="title">
        <strong>实验材料（或预设参数等）:</strong>
      </div>
      <div class="detail">
        虚拟教学计算机（主机HP：CPU-Intel(R)Core(TM)i4、内存-2G、硬盘-120G、网卡-100M Ethernet网卡；显示器HP：分辨率1920×1080、色数16.7M、亮度250cd/m2、可视角度178/178。）
        虚拟网络实验教学控制平台（主机HP：CPU-Intel(R)Core(TM)i5、内存-4G、硬盘-500G、网卡-100M Ethernet网卡；显示器HP：分辨率2560×1440、色数16.7M、亮度350cd/m2、可视角度178/178。）
      </div>
    </li>
    <li>
      <div class="title">
        <strong>实验教学方法:</strong>
      </div>
      <div class="detail">
        基于问题和案例的启发引导式、互动式教学法：
      </div>
      <div class="title">
        使用目的:
      </div>
      <div class="detail">
        医学影像学是现代医学发展最迅速的领域之一，临床应用十分广泛，是所有医学专业尤其是医学影像学专业的学生必须掌握的必修课。然而，医学影像实验教学却明显落后于临床影像医学的发展，传统的实验教学手段难以提供和显示发展迅速而丰富多彩的海量数字化医学影像信息，教师难于组织有效的教学，学生不易充分理解多种成像的影像信息。医学影像学虚拟仿真实验教学是适应高效率培养合格的高层次医学影像学专门人才的良好方式。
        医学影像实验课是由基础学习到实习最重要、最关键的过渡阶段，其教学效果直接影响到学生对医学影像基本知识、技能和理论的掌握。但医疗PACS设备昂贵，操作复杂，医院病人太多，时间有限，不能让学生们随意操作，学生无法真正参与实验过程。而且医疗PACS不具备完整的教学功能，以及担负繁重的医疗任务而排斥教学。因此我们依托医学影像中心资源优势，整合影像实验教学资源，以医疗PACS为基础，将教学PACS经教学专用缓冲服务器与之无缝链接，实现与飞速发展的临床医学影像学实时同步，在教学PACS的基础上形成医学影像虚拟仿真实验教学，符合医学教育的研究和发展方向。以《医学影像诊断学》“呼吸系统--肺肿瘤”章节为例，将具备各种典型影像征象的肺部肿瘤的资料、图片上传供学生学习、讨论，通过模拟的方式立体直观的观察以充分理解每一个肺肿瘤病例，困惑的地方和老师在线互动交流。让学生成为实验课的主角，进行自主思考式的实验分析，充分调动学生的积极性，提高学生影像实验课的兴趣和学习效果，有效地增强学生的临床实践能力和动手能力。增加师生互动，就精选的肺肿瘤病例进行交流和探讨，通过模拟医生的工作站的操作，使学生将自己置身于虚拟现实的医生工作环境当中，使学生对案例进行虚拟诊断提高自身阅片能力，在巩固理论知识的同时，通过实验课掌握肺肿瘤基本的影像识别和影像诊断思维方法，将理论与实践相结合，培养学生的主动学习能力和创新能力，为学生进入实习、工作提供有力保障。
        教学PACS模拟医疗PACS的大部分功能，模拟了影像科医生诊断工作的模式和仿真的工作界面，使学生在对影像学图像识别、学习影像诊断的过程中熟悉实习过程和将来工作中面临的医疗工作环境，有利于所学知识的迁移、转化和提高。使学生在学习过程中能多角度、多方位、多形式的观察图像，通过观察仿真重组的人体结构、病变形态、功能代谢等图像，理解、学习影像知识、加深对肺部肿瘤影像学诊断知识的学习，同时使影像学的实验教学更加直观、形象、生动，激发学生的学习热情，进而提高学习效率。
      </div>
      <div class="title">
        实施过程:
      </div>
      <div class="detail">
        以《医学影像诊断学》“呼吸系统--肺肿瘤”章节为例。在课前的自主学习阶段，教师提前1周将精选的具备典型影像学征象的肺肿瘤病例图像资料和课前自主学习任务单发布到校园网。学生利用电脑或手机可以随时随地利用碎片化时间学习，根据教师布置的学习任务，自主学习与拓展，掌握常见肺肿瘤有哪些，在影像学上都有哪些特点，如何诊断与鉴别诊断，并在互动空间积极提问，汇总问题。教师参与学生在互动空间的学习与讨论，收集意见和反馈，及时调整实验内容、改进教学方法，为实验课堂教学做准备。在具体反馈内容的设计上，教师提前设计一些与实验内容紧密相关的问答题，并通过投票或在线问答的形式调动学生的积极性和参与度，搜集学生的反馈。
        在课上向学生简要介绍PACS基本原理、结构、架构数据、主要优点、发展趋势及在医院实际日常工作流程，要求学生应用虚拟仿真PACS系统，模拟真实的医院影像诊断工作环境，尝试分析诊断精选的肺肿瘤影像资料，将自己的结果和小组成员及老师讨论，分析总结，巩固理论知识，增强实践能力。同时就重难点和学生学习或实践过程中出现的问题，以及课前及课中学生实时反馈的问题重点讲解，根据实验教学情况和学生的实时反馈灵活调整讨论交流与展示环节所占的比例，并就问题进行师生的共同讨论；小组进行学习成果展示与汇报，通过“病例分析诊断比赛”进行学习巩固，实现课堂探究的目标，使学生的学习变得更加积极主动、专注。在实验过程中，为兼顾部分没有在课前环节做好学习准备的学生，其可以根据自身的学习情况利用平台复习理论内容。对重要知识点以案例和项目的互动和研讨方式引入，增加学生的兴趣和对知识点的认知。将以往实验教学中总结出的学生易犯错的肺肿瘤影像诊断特征嵌入案例教学中，教师实时收集学生答题的反馈信息，了解其对知识的掌握程度，之后再决定下一个实验环节和任务，做到实验教学和信息反馈相统一。
        课后学生在网络平台上结合肺肿瘤典型病例和教师给出的拓展练习部分进行重点和难点的探究学习，在重要知识点处嵌入交互式问题学习，让学生及时检查实验效果，并通过线上作业建立起课后补救教学的反馈机制。根据课前、课中和课后环节的表现，教师开展过程性与总结性评价。
      </div>
      <div class="title">
        实施效果:
      </div>
      <div class="detail">
        通过虚拟仿真的模拟功能，培养学生发现问题、解决问题的能力，进行主动探索和思考问题，同时，借助平台互动功能，在课前、课中、课后均体现以学生为中心的理念，让学生深度参与到教学过程当中，通过认真的课前准备、弹性的时间分配、及时的反馈和交流探讨，及时的课后拓展与补救，让教师引导学生正确解决问题，使学生形成相对完善的知识体系构建，增加学习兴趣和学习效率，加深对知识的深入理解掌握，提升实践操作能力，同时锻炼学生的小组协作能力和沟通交流能力，为以后的临床工作打下了坚实的基础。
      </div>
    </li>
    <li>
      <div class="title">
        <strong>实验方法与步骤要求:</strong>
      </div>
      <div class="detail">
        <p>(1)实验方法描述：</p>
        <p>1）建立肺肿瘤虚拟仿真实验教学课件：医学影像学教学的核心是培养学生对人体正常及异常影像表现的认知，因此拥有完善的肺肿瘤典型病例影像库十分重要。PACS 在更好地为临床医疗服务的同时，也为医学影像学教学提供了大量实时的医学影像学信息和图像资料，通过教医师在医疗PACS筛选和处理有价值肺肿瘤病例的图像直接从影像科室传输到教室，供学生学习，从根本上改变了目前学生的学习环境和学习方法。同时也为学生提供了一套肺肿瘤虚拟仿真的和医院临床影像相似的工作状态，模拟医院肺肿瘤影像诊断环境，增加学生兴趣，同时也可作为开放实验室，供更多的学生自学。
        </p>
        <p>2）建立肺肿瘤实验教学病例影像库：肺肿瘤病例图像来源于医学影像教研室多年积累的典型病例和对应附属医院PACS系统中大量经病理证实的经医学影像医师、各专业专家筛选的典型病例，将肺肿瘤影像图像导入教学PACS中，在典型征象处添加注释，便于学生学习。
        </p>
        <p>3）建立肺肿瘤实验教学考试题库：由呼吸系统影像诊断专家编写考题，主要由临床资料完整，影像典型清晰，诊断结果可靠的临床病例虚拟考题组成，由于直接源于医疗PACS，具有实时仿真的特点，且虚拟了医疗PACS的工作模式，不仅可以完全取代传统胶片教学，而且有利于学生所学知识向实习和临床工作现实的迁移和转化。
        </p>
        <p>4）利用虚拟临床影像医生的工作模式，培养学生熟练运用信息化辅助手段进行临床影像工作的好习惯。利用教学PACS具备的诸如容积再现（VR）、多平面重建（MPR）、曲面重建（CPR）、表面遮盖显示（SSD）、最大密度投影（MIP）、最小密度投影（MinIP）、仿真内窥镜（VE）等虚拟仿真影像显示功能多角度、多方位、多形式的观察图像，扩展自己的眼界，提高学生对肺肿瘤的诊断水平。
        </p>
      </div>
    </li>
    <li>
      <div class="title">
        <strong>实验结果与结论要求:</strong>
      </div>
      <div class="detail">
        <p>是否记录每步实验结果：是 否</p>
        <p>实验结果与结论要求：实验报告 心得体会 其他</p>
        <p>其他描述：</p>
        <p>1.实验教学过程中，教师可以查看实验进度，适时指导和引导。</p>
        <p>2.学生有独立的账号，可以用于登录虚拟PACS系统浏览、记录私人的学习进程和思路。</p>
      </div>
    </li>
    <li>
      <div class="title">
        <strong>考核要求:</strong>
      </div>
      <div class="detail">
        要求学生完成实验操作，撰写实验报告和诊断思路、理由，考核学生对理论知识的掌握程度和临床思维能力。
      </div>
    </li>
  </ul>
</div>
