<div id="sub-page">
  <ul class="sub-wrap">
    <li>
      <div class="title">
        <strong>实验教学项目特色:</strong>
      </div>
      <div class="detail">
        <p>（体现虚拟仿真实验项目建设的必要性及先进性、
          教学方式方法、评价体系及对传统教学的延伸与
          拓展等方面的特色情况介绍。）</p>
        <p> （1）必要性：</p>
        <p>医学影像学科涉及面广，整体性强，是一门独立而成熟的学科，是现代医学发展最迅速的领域之一，已成为现代医学发展的重要支柱。医学影像学的教学面对的不仅是医学影像学专业、医学影像技术学专业学生，其在临床的应用十分广泛，是重要诊断学科，是每一个临床学科都需要依赖的公共学科，不仅对疾病的诊断提供了科学和直观的依据，同时也很好的应用在治疗方面，因此是所有医学专业的学生都必须掌握的必修课。影像设备不断更新换代，已由单层扫描的解剖断面图像发展为多螺旋的容积数据扫描，可对组织器官和病变进行各种虚拟仿真显示，如容积再现（VR）、多平面重建（MPR）、曲面重建（CPR）、表面遮盖显示（SSD）、最大密度投影（MIP）、最小密度投影（MinIP）、仿真内窥镜（VE）等，可进行各种虚拟手术方案的设计。肺部肿瘤的影像学诊断由以大体形态学为主向生理、功能、代谢和分子／基因成像发展，图像分析由“定位”、“定性”向“定量”发展，迅速增加的海量数字化医学影像信息已难于用胶片完整显示，随着信息科学的进展及PACS的出现，肺部肿瘤影像诊断模式则由胶片采像阅读，迅速向数字采像和电子传输与存档的无胶片化方向发展。
          影像医学教育需要教会学生从正常到异常、从理论到实践，多层面、多角度、 系统全面地认识人体的疾病及治疗，为临床理论学习和实践奠定基础。近年来，随着现代信息技术的飞速发展，模拟医学教育迅速兴起，它弥补了传统医学实验教学中的诸多不足。对于影像学的学习，学生可通过模拟的方式立体直观的观察以便充分理解每一个肺肿瘤病例；通过模拟医生的工作站的操作，使学生将自己置身于虚拟现实的医生工作环境当中，增加学生学习的兴趣，此种教学模式与传统教学模式相互补充、相互促进，建设虚拟仿真实验教学已成为医学教育的研究和发展方向。国家医疗卫生事业改革，医学影像学的飞速发展，先进高档、昂贵的医学影像设备的迅速普及，对医学影像学人才需求迫切，而医学影像学虚拟仿真实验教学是适应高效率培养合格的高层次医学影像学专门人才需要的良好方式。医学影像的实验课是由基础学习到实习最重要、最关键的过度阶段，其教学效果直接影响到学生对医学影像基本知识、技能和理论的掌握，通过实验课掌握了基本的影像识别和影像诊断思维方法，将明显提高实习效果。
          然而，医学影像教学却明显落后于临床影像医学的发展，
          使用传统的胶片教学难于提供和显示发展迅速而丰富多彩的影像医学内容，
          教师难于组织有效的教学，学生不易充分理解多种成像的影像信息。
          而医疗 PACS不具备完整的教学功能，以及医学影像设备昂贵和担
          负繁重的医疗任务而排斥教学。为发挥我校学科专业优势，进一步整合
          医院影像实验教学资源，在教学中充分展现数字化影像所固有的对人体和
          疾病虚拟仿真显示的诊断特性，以培养学生的主动学习能力和创新能力为
          出发点。有必要开展此虚拟仿真实验项目，组织研发建立医教一体的全数
          字化医学影像教学PACS平台，在教学PACS的基础上形成医学影像虚拟仿真
          实验教学。</p>
        <p>（2）先进性：</p>
        <p>本系统以医疗PACS 为基础，将肺肿瘤教学PACS经教学专用缓冲服务器与医疗PACS无缝链接，实现与飞速发展的临床医学影像学实时同步发展的医学影像学教学（medical imaging education in real time developing）模式。教学PACS完全模拟医疗PACS的大部分功能，模拟了影像科医生诊断工作的模式和仿真的工作环境，使学生在对影像学图像识别、学习影像诊断的过程中熟悉实习过程，甚至是将来工作中面临的医疗工作环境，有利于所学知识的迁移、转化和提高，从而增加学生的学习主动性，提高学习效率。使学生在学习过程中能多角度、多方位、多形式的观察图像，通过观察仿真重组的模拟人体结构、病变形态、功能代谢等图像，理解、学习影像知识、加深对肺部肿瘤影像学诊断知识的学习，同时使影像学的教学更加直观、形象、生动，激发学生的学习热情，进而提高学习效率。这也是目前在医学影像学教育领域急需开发、发展、完善的重要内容。
        </p>
      </div>
    </li>
    <li>
      <div class="title">
        <strong>教学方法:</strong>
      </div>
      <div class="detail">
        <p>课堂多媒体教学和虚拟仿真实验操作系统相结合，同时将基于问题、案例的启发导入式教学方法融入实验教学中。首先，教师对PACS仿真操作虚拟实验系统软件进行介绍，再对实验操作步骤进行讲解。然后，让学生登录系统，按照交互性操作步骤进行虚拟实验操作。最后，结合理论内容和虚拟的肺肿瘤病人资料和影像资料，让学生尝试模拟影像科医生对肺部病变做出分析诊断，并完成实验报告。而且可以通过教学PACS系统不限次重复此模拟操作，提高学习效果。</p>
      </div>
    </li>
    <li>
      <div class="title">
        <strong>评价体系:</strong>
      </div>
      <div class="detail">
        <p>该实验属于皖南医学院医学影像学本科专业《医学影像诊断学》的实验课程内容，已经纳入该专业的培养方案和课程大纲，制定了教学效果评价办法，从学生的学习态度、知识水平、技能操作能力和临床思维能力等多方面考核评价学生。</p>
      </div>
    </li>
    <li>
      <div class="title">
        <strong>传统教学的延伸与拓展:</strong>
      </div>
      <div class="detail">
        <p>本虚拟仿真项目作为医学影像学教学实验课程的延伸，解决了诸如医学影像学实践教学中大部分实验项目是高投入和难实现的特点，在医院实习时由于病人太多，空间及时间有限，学习效果不理想等问题；另一方面影像设备贵重精密，操作复杂，不能让学生们随意操作，学生无法亲身真正参与实验过程。因此我们依托医学影像中心资源优势，开展基于PACS系统的虚拟仿真实验教学建设应用于医学影像教学显得十分必要，这不仅突破了时间和空间的限制，学生可反复多次通过教学PACS系统对病例进行虚拟诊断和鉴别诊断，而且在巩固理论知识的同时，将理论与实践相结合，提高学生的学习兴趣和学习效率。</p>
      </div>
    </li>
  </ul>
</div>
