@import '../assets/styles/custom';
#app{
  .layout{
    .header{
      .wrap{
        display: flex;
        justify-content: space-between;
        .title{
          a{
            font-size: x-large;
            letter-spacing: 2px;
            color: @golden;
          }
        }
        #release{
          cursor: pointer;
        }
      }
    }
    .footer{
      text-align: center;
    }
  }
  strong{
    font-family: "Microsoft Yahei";
  }
}
