<div id="app">
  <nz-layout class="layout">
    <nz-header class="header">
      <div class="wrap">
        <div class="title">
          <a [routerLink]="['/home']"><strong>VLab</strong></a>
        </div>
        <mat-menu #personalMenu="matMenu">
          <button mat-menu-item *ngIf="userAuthInfo.role === 'student'"><strong>开始实验</strong></button>
          <button mat-menu-item *ngIf="userAuthInfo.role === 'teacher'"><strong>开始批改</strong></button>
          <button mat-menu-item *ngIf="userAuthInfo.auth" (click)="logout()"><strong>注销</strong></button>
        </mat-menu>
        <div id="release" [matMenuTriggerFor]="personalMenu" (click)="openPersonalMenu()">
          <i nz-icon nzType="user" nzTheme="outline"
             style="
             font-size: 30px;
             color: rgb(237,205,151);
             margin-right: 25px;
             margin-top: 15px"></i>
        </div>
      </div>
    </nz-header>
    <nz-content class="content" >
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer class="footer">
      <p>Copyright ©2019 Arcticmarmot</p>
      <p>Powered by MEAN</p>
    </nz-footer>
  </nz-layout>
</div>
