<div id="home">
  <div class="head">
    <div class="left">
      <div class="title">
        <strong>综合性CT仿真检查技术实验</strong>
      </div>
      <div class="detail">
        <p>本虚拟教学项目通过一个自主研制“软、硬件结合”的CT虚拟仿真教学系统为平台，将医用CT成像有关的CT成像原理知识、设备构造及参数、检查技术操作要点、影像诊断四个既相互独立又相互关联的过程几乎“完整”的虚拟仿真出来。可不限时间、场合，反复多次开设CT有关综合性、开放性实验项目。具有全面综合、价廉、无辐射、高效等特点，特别适合资源、经费相对不足的省属本科医学院校开展CT医学影像有关多门课程的实验教学</p>
      </div>
      <div class="options">
        <button mat-button (click)="start()"><strong>开始{{userAuthInfo?userAuthInfo.role==='teacher'?'批改':'实验':'实验'}}</strong></button>
      </div>
    </div>
    <div class="right">
      <div class="intro">
        <strong>项目简介视频</strong>
      </div>
      <video controls>
        <source src="../../../assets/videos/intro.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="content">
    <div class="wrap">
      <mat-tab-group dynamicHeight="true">
        <mat-tab label="项目团队">
          <app-introduce></app-introduce>
        </mat-tab>
        <mat-tab label="项目描述">
          <app-project-describe></app-project-describe>
        </mat-tab>
        <mat-tab label="网络要求">
          <app-network-request></app-network-request>
        </mat-tab>
        <mat-tab label="技术架构">
          <app-tech-framework></app-tech-framework>
        </mat-tab>
        <mat-tab label="项目特色">
          <app-project-feature></app-project-feature>
        </mat-tab>
        <mat-tab label="服务计划">
          <app-service-plan></app-service-plan>
        </mat-tab>
        <mat-tab label="知识产权">
        </mat-tab>
        <mat-tab label="附件资料">
        </mat-tab>
        <mat-tab label="承诺意见">
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
