<div id="home">
  <div class="head">
    <div class="left">
      <div class="title">
        <strong>基于PACS的肺肿瘤影像诊断虚拟仿真实验教学项目</strong>
      </div>
      <div class="detail">
        <p>本项目借助现代化的教学图像存档与传输系统（PACS）的虚拟仿真实验教学手段，通过基于问题和案例的互动式、研讨式教学方式方法，使学生成为教学活动的主体，培养增强学生自主式、合作式、探究式学习能力，使学生掌握中央型肺癌、周围型肺癌的X线、CT、MRI的影像学诊断及鉴别诊断。提高影像学实验教学的效果和效率。
        </p>
        <p>
        学生试用账号：111    试用密码：111
        </p>
        <!--<p>
        教师试用账号：222    试用密码：222
        </p>
        -->
      </div>
      <div class="options">
        <button mat-button (click)="start()"><strong>开始{{userAuthInfo?userAuthInfo.role==='teacher'?'批改':'实验':'实验'}}</strong></button>
      </div>
    </div>
    <div class="right">
      <div class="intro">
        <strong>项目简介视频</strong>
      </div>
      <video controls>
        <source src="../../../assets/videos/intro.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="content">
    <div class="wrap">
      <mat-tab-group dynamicHeight="true">
        <mat-tab label="项目介绍">
          <app-introduce></app-introduce>
        </mat-tab>
        <mat-tab label="项目描述">
          <app-project-describe></app-project-describe>
        </mat-tab>
        <mat-tab label="网络要求">
          <app-network-request></app-network-request>
        </mat-tab>
        <mat-tab label="技术架构">
          <app-tech-framework></app-tech-framework>
        </mat-tab>
        <mat-tab label="项目特色">
          <app-project-feature></app-project-feature>
        </mat-tab>
        <mat-tab label="服务计划">
          <app-service-plan></app-service-plan>
        </mat-tab>
        <mat-tab label="知识产权">
        </mat-tab>
        <mat-tab label="附件资料">
        </mat-tab>
        <mat-tab label="承诺意见">
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
