<div id="home">
  <div class="head">
    <div class="left">
      <div class="title">
        <strong>综合性CT仿真检查技术实验</strong>
      </div>
      <div class="detail">
        <p>本虚拟教学项目通过一个自主研制“软、硬件结合”的CT虚拟仿真教学系统为平台，将医用CT成像有关的CT成像原理知识、设备构造及参数、检查技术操作要点、影像诊断四个既相互独立又相互关联的过程几乎“完整”的虚拟仿真出来。可不限时间、场合，反复多次开设CT有关综合性、开放性实验项目。具有全面综合、价廉、无辐射、高效等特点，特别适合资源、经费相对不足的省属本科医学院校开展CT医学影像有关多门课程的实验教学</p>
      </div>
      <div class="options">
        <button mat-stroked-button><strong>开始实验</strong></button>
      </div>
    </div>
    <div class="right">

    </div>
  </div>
</div>
