<div id="entrance">
  <div class="wrap">
    <div class="title">
      <strong>实验总表</strong>
    </div>
    <div class="entries">
      <app-entry [caseNum]="'Case 1'"></app-entry>
      <app-entry [caseNum]="'Case 2'"></app-entry>
      <app-entry [caseNum]="'Case 3'"></app-entry>
      <app-entry [caseNum]="'Case 4'"></app-entry>
      <app-entry [caseNum]="'Case 5'"></app-entry>
      <app-entry [caseNum]="'Case 6'"></app-entry>
      <app-entry [caseNum]="'Case 7'"></app-entry>
      <app-entry [caseNum]="'Case 8'"></app-entry>
      <app-entry [caseNum]="'Case 9'"></app-entry>
    </div>
  </div>

</div>
